# Alpaca Keys Aggressive
ALPACA_AGG_API_KEY=...
ALPACA_AGG_API_SECRET=...
ALPACA_AGG_BASE_URL=https://paper-api.alpaca.markets/v2

# Alpaca Keys Conservative 
ALPACA_API_KEY=...
ALPACA_API_SECRET=...
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2

# Alpaca Keys Manual
ALPACA_MANUAL_API_KEY=...
ALPACA_MANUAL_API_SECRET=...
ALPACA_MANUAL_BASE_URL=https://paper-api.alpaca.markets/v2

# Alpaca Keys Live
ALPACA_LIVE_API_KEY=...
ALPACA_LIVE_API_SECRET=...
ALPACA_LIVE_BASE_URL=https://api.alpaca.markets/v2

# Low Balance Accounts (fattycodes+lowbal@gmail.com)

# Alpaca Keys $500
ALPACA_SM500_API_KEY=...
ALPACA_SM500_API_SECRET=...
ALPACA_SM500_BASE_URL=https://paper-api.alpaca.markets/v2

# Alpaca Keys $1000
ALPACA_SM1000_API_KEY=...
ALPACA_SM1000_API_SECRET=...
ALPACA_SM1000_BASE_URL=https://paper-api.alpaca.markets/v2

# Alpaca Keys $2000
ALPACA_SM2000_API_KEY=PK...
ALPACA_SM2000_API_SECRET=...
ALPACA_SM2000_BASE_URL=https://paper-api.alpaca.markets/v2

# Github Key
GITHUB_ACCESS_TOKEN=github_pat_...

# Cron-job.org key (runs the github actions)
CRONJOB_API_KEY=/...
DASHBOARD_CRON_TOKEN=...

# Discord Webhooks

# Trades Channels
DISCORD_TSLA_WEBHOOK=https://discord.com/api/webhooks/...

DISCORD_AGG_TRADES_WEBHOOK=

DISCORD_CONGRESS_WEBHOOK=

DISCORD_MANUAL_TRADES_WEBHOOK=

DISCORD_LIVE_TRADES_WEBHOOK=

DISCORD_SM500_TRADES_WEBHOOK=

DISCORD_SM1000_TRADES_WEBHOOK=

DISCORD_SM2000_TRADES_WEBHOOK=

# Daily Summaries
DISCORD_SUMMARY_WEBHOOK=

DISCORD_AGG_SUMMARY_WEBHOOK=

DISCORD_MANUAL_SUMMARY_WEBHOOK=

DISCORD_LIVE_SUMMARY_WEBHOOK=

DISCORD_SM500_SUMMARY_WEBHOOK=

DISCORD_SM1000_SUMMARY_WEBHOOK=

DISCORD_SM2000_SUMMARY_WEBHOOK=

# Errors
DISCORD_ERRORS_WEBHOOK=

DISCORD_AGG_ERRORS_WEBHOOK=

DISCORD_MANUAL_ERRORS_WEBHOOK=

DISCORD_LIVE_ERRORS_WEBHOOK=

DISCORD_SM500_ERRORS_WEBHOOK=

DISCORD_SM1000_ERRORS_WEBHOOK=

DISCORD_SM2000_ERRORS_WEBHOOK=

# All Actions(muted)
DISCORD_ACTIONS_WEBHOOK=

DISCORD_AGG_ACTIONS_WEBHOOK=

DISCORD_MANUAL_ACTIONS_WEBHOOK=

DISCORD_LIVE_ACTIONS_WEBHOOK=

DISCORD_SM500_ACTIONS_WEBHOOK=

DISCORD_SM1000_ACTIONS_WEBHOOK=

DISCORD_SM2000_ACTIONS_WEBHOOK=